
/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    background: #222;
    padding: 10px;
    border-radius: 5px;
    z-index: 1100;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* Mobile View */
@media screen and (max-width: 900px) {
    /* Hide Sidebar by Default */
    .sidebar {
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        background: rgba(0, 0, 0, 0.95);
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        text-align: left;
        padding-top: 5rem;
    }

    .sidebar li {
        font-size: 24px;
        padding: 15px 50px;
    }

    .sidebar-footer {
        padding: 50px; /*align more centered with the navbar list*/
    }

    /* .dropdown-content {
        text-align: left;
    }

    .dropdown-content a {
        padding-left: 0;
        font-size: 20px;
    } */

    /* Show Hamburger Button */
    .hamburger {
        display: flex;
        position: fixed;
        top: 15px;
        left: 15px;
        background: #222;
        padding: 10px;
        border-radius: 5px;
    }

    /* Fullscreen Menu when Open */
    #menu-toggle:checked ~ .sidebar {
        transform: translateX(0);
    }

    #menu-toggle:checked ~ .content {
        filter: blur(3px);
        pointer-events: none;
    }

    /* Animate Hamburger Icon */
    #menu-toggle:checked + .hamburger div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #menu-toggle:checked + .hamburger div:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .hamburger div:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -10px);
    }

    /* Content takes full width */
    .content {
        margin-left: 0;
        width: 100%;
        padding: 100px;
    }

    /* Adjust wrapper margin for mobile view */
    .wrapper {
        margin-left: 0;
    }

    /* Switch to 1-column masonry gallery in mobile view */
    .gallery-container ul.masonry-gallery {
        columns: auto 1;
    }

    .masonry-3gallery {
        columns: auto 2;
    }

    .two-column-layout {
        flex-direction: column;
    }

    .text-column {
        text-align: left;
        padding: 0.5rem;
    }

    .image-column {
        width: 50%;
        align-self: self-end;
    }

    .grid-gallery {
        grid-template-columns: repeat(2, 1fr); /* Switches to 1 column on small screens */
    }
}